
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<style>
  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  #jksj::before {
    content: 'Johnella Kyle San Juan';
  }
  #mczvc::before {
    content: 'Meldencio Czarlemagne'
  }
</style>

<div class="[font-size:2.1rem] bg-yellow-600 py-5 flex h-[97px] page-header">
  <div class="-mt-[30px] ol-icon bg-sz-128 bg-no-repeat group-hover:[animation:rotation_850ms_ease-in] w-[128px] h-[128px]"></div>
  <div class="flex items-center [color:#d7a570] page-header djvu-serif-bold bayanihan"
    >Bayanihan OpenLibrary</div>
</div>

<main class="ml-3">
  <dl class="bg-[blanchedalmond] mr-[20px] pb-[12px] founding-box">
    <dt class="text-[1.2em] font-bold [font-family:sans-serif] roboto-thin bg-[#cecece] p-[20px] -mr-[4px]"
    >FOUNDER</dt>
    <dd class="pt-3 text-pink-600 font-semibold"><span id="jksj" class="bg-yellow-400 rounded-sm border border-solid p-1
    w-[21ch] text-center inline-block hover:bg-[mediumvioletred] hover:text-white hover:cursor-pointer"></span></dd>
    <dd>
      <span id="mczvc" class="font-semibold p-1 rounded-sm border border-solid p-1 w-[21ch] text-center inline-block
      hover:bg-sky-300/50 hover:cursor-pointer"></span> &nbsp;
      (<span class="text-yellow-600 rounded-sm border border-solid p-1"
        >David</span>-<span class="text-rose-600 rounded-sm border border-solid p-1"
        >Pico</span>)
      (<span class="text-violet-600 bg-violet-200 rounded-sm border border-solid p-1"
        >Burce-Veras</span>) &nbsp;
      <span class="text-blue-700 bg-blue-200/50 rounded-sm border border-solid p-1"
        >Corrales</span></dd>
    <dd class="w-[21ch] font-bold text-center inline-block border-solid border-b-gray-200 border-b-3 hover:border-b-sky-300/60">
      <a href="mailto:mczvc@proton.me" class="text-lime-600 font-normal border-solid border-b-sky-600 border-b-3
            hover:text-sky-500 hover:border-b-sky-400"
        >mczvc@proton.me</a></dd>
  </dl>
</main>