<hr>
<footer class="mt-auto mb-0 -mr-1">
  <div class="bg-slate-300 flex [flex-direction:column] sm:[flex-direction:column] lg:[flex-direction:row]">

    <div class="flex-[1_0_content]">
      <div class="flex mb-4">
        <div class="flex-shrink-0 ol-bp-icon bg-sz-128 bg-no-repeat w-[128px] h-[128px]"></div>
        
        <div class="flex-shrink-0">
          <!--- Bayanihan Publishing -->
          <h3 class="">Bayanihan Publishing</h3>
          <ul class="*:p-1">
            <li>Publish a book (now!)</li>
            <li>View published books</li>
            <li>View authors</li>
            <li>Contact Us</li>
          </ul>
        </div>
        
      </div>
    </div>

    <div class="flex-[1_0_content]">
      <div class="flex group">
        
        <div class="bc-icon bg-sz-128 bg-no-repeat group-hover:[animation:rotation_850ms_ease-in] w-[128px] h-[128px]"></div>
        
        <div class="">
          <!--- Bayanihan College -->
          <h3>Bayanihan College</h3>
          <ul class="flex-shrink-0 *:p-1">
            <li>Enroll (now!)</li>
            <li>Contact Us</li>
          </ul>
        </div>
        
      </div>
    </div>

    <div class="flex-[1_0_content]">
      <div class="flex group">
        <div class="ol-icon bg-sz-128 bg-no-repeat group-hover:[animation:rotation_850ms_ease-in] w-[128px] h-[128px]"></div>
        
        <div class="flex-shrink-0">
          <!--- Bayanihan OpenLibrary -->
          <h3>Bayanihan Open-Library</h3>
          <ul class="*:p-1">
            <li><a href="/books" class="text-sky-500 border-b-3 border-b-sky-400
             hover:border-solid hover:text-blue-700">View Books</a></li>
            <li><a href="/contact-us" class="text-sky-500 border-b-3 border-b-sky-400
            hover:border-solid hover:text-lime-600">Contact Us</a></li>
          </ul>
        </div>
        
      </div>
    </div>

  </div>

  <div class="bg-slate-600 text-white mt-0 tw-py-3 px-2 flex justify-center items-center">
    <img src="/assets/images/biomew/OL_gold.png" width="32px" height="32px" class="w-[32px] h-[32px]"
         alt="OpenLibrary"/>
    <p>&copy; 2024 Meldencio Czarlemagne</p>
  </div>
</footer>