<div class="flex w-[100%]">
  <div class="flex flex-[1_0_content] w-full min-w-[300px]">
    <header class="w-full flex-[1_0_content] flex justify-between items-center group">

      <div id="circularMenu"></div>
      <div class="logo-menu" onclick="">
        <svg class="left-hamburger" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100">
          <g
            fill="none"
            stroke="#000"
            stroke-width="7.999"
            stroke-linecap="round"
          ></g>
        </svg>
      </div>

      <img id="logo" src="/assets/images/jk/header-logo.png" alt="JK"
        class="flex-shrink-0 ml-6 w-[70px] h-[70px] my-4 [position:absolute] [left:0] active-hover bg-sz-64 bg-no-repeat"
        onclick="logo_menu()">

      <img src="/assets/images/jk/header-logo.png" alt="JK"
           class="flex-shrink-0 ml-6 w-[70px] h-[70px] my-4 bg-sz-64 bg-no-repeat"> 
        <div class="flex-[1_0_content] ml-0">
          <a href="/" class="cursor-pointer w-max inline-block">
            <img class="w-[166px] md:w-[200px] p-[6px] hover:[filter:brightness(1.2)] animate-btn ml-2" alt="Jk San Juan"
                 src="/assets/images/kayee/JKSanJuan.png"/>
          </a>
      </div>

    </header>
  </div>
  <div class="flex justify-center items-center">
    <div class="hamburger-label">
      <span class="text-[32px] [font-family:sans-serif] text-[#f2329e]">Menu</span>
    </div>
    <div class="hamburger-close-label">
      <span class="text-[32px] [font-family:sans-serif] text-[#ff88e7]">Close</span>
    </div>
    <div class="hamburger btn-back [transform:scale(1.7)] self-start ml-[25px]" onclick="toggleBreadcrumbs(this)">
      <div class="icon"></div>
    </div>
  </div>
</div>