<div class="flex w-[96%]">
  <a href="/all-in-one" class="flex flex-[1_0_content] w-full">
    <header class="w-full flex-[1_0_content] flex justify-between items-center group">
      <img src="/assets/images/jk/header-logo.png" class="flex-shrink-0 ml-6 w-[70px] h-[70px] my-4
                  [position:absolute] [left:0] group-hover:animate-ping bg-sz-64 bg-no-repeat" alt="Sun">
      <img src="/assets/images/jk/header-logo.png" class="flex-shrink-0 ml-6 w-[70px] h-[70px] my-4
                  bg-sz-64 bg-no-repeat" alt="Sun">
      <div class="flex-[1_0_content] ml-0 cursor-pointer">
              <span class="text-3xl font-semibold text-yellow-600 hover:text-yellow-500 djvu-serif-bold
                            animate-btn ml-2"
              >JK San Juan</span>
      </div>
    </header>
  </a>
  <div class="flex">
    <div class="hamburger btn-back [transform:scale(1.7)]" onclick="breadcrumbs(this)">
      <div class="icon"></div>
    </div>
  </div>
</div>