<div class="flex">
  <a href="/all-in-one" class="flex flex-[1_0_content] w-full">
    <header class="w-full flex-[1_0_content] flex justify-between items-center">
      <img src="/assets/images/biomew/sun.svg" class="flex-shrink-0 ml-6 w-[70px] h-[70px] my-4
                  hover:animate-spin bg-sz-64 bg-no-repeat" alt="Sun">
      <div class="flex-[1_0_content] ml-0 cursor-pointer">
              <span class="text-3xl font-semibold text-yellow-600 hover:text-yellow-500 djvu-serif-bold animate-btn">
                Bayanihan OpenLibrary</span>
      </div>
    </header>
  </a>
  <div class="flex">
    <div class="menu btn-back [transform:scale(1.7)]" onclick="menu(this)">
      <div class="icon"></div>
    </div>
  </div>
</div>