<main>
  <!---  (Tablet-Desktop size) -->
  <div class="bg-sky-400 w-[1192px] lg:block tablet-desktop">
    <div class="flex pr-1">

      <!---  (OpenLibrary Tron-disk-like Logo) -->
      <img src="/assets/images/biomew/OL_circle.png" alt="OpenLibrary 1.0" class="h-[128px]">
      <!---  (Brief title and sub) -->
      <div>
        <h1 class="text-white block pb-0">OpenLibrary Media</h1>
        <h2 class="block [clear:both] pl-6">Bayanihan Publishing</h2>
      </div>
      <!---  (Bayanihan Publishing Royal Logo) -->
      <div class="bg-sky-500 ml-4 hover:bg-sky-200">
        <img src="/assets/images/biomew/OL_BP.png" class="h-[170px]" alt="OpenLibrary Publishing">
      </div>
      <!--- (Canada's Maple Leaf) -->
      <div class="bg-sky-300 ml-auto mr-2 inline-block w-[170px] hover:bg-rose-300">
        <img src="/assets/images/biomew/maple.png" alt="Maple Leaf"
             class="h-[170px] animate-pulse">
      </div>
      <!--- Book-Plugit Cloud Storage -->
      <div class="bg-sky-200 w-[170px] hover:bg-sky-300">
        <img src="/assets/images/biomew/book_plugit.png" alt="Book Cloud Plug-it"
             class="h-[170px]">
      </div>
      <!--- OpenLibrary Pillars -->
      <div class="w-[170px] ml-auto -mr-1 inline-block">
        <img src="/assets/images/biomew/OL-2.png" alt="OpenLibrary Pillars"
             class="h-[170px] bg-slate-200 hover:bg-white">
      </div>
    </div>

    <div class="bg-[rgba(249,219,0,0.7)]">
      <div class="flex">

        <div class="ml-4">
          <!--- OpenLibrary Fav Small Icon -->
          <h1 class="text-yellow-600 bg-gray-900 p-4 mb-10 rounded-tl-2xl rounded-tr-2xl flex items-center"><img
              src="/assets/images/biomew/OL_gold.png" alt="OpenLibrary Small Icon"
              class="h-[86px]">OpenLibrary (LLC) Company</h1>

          <div class="flex bg-gray-700 block -mt-10 ">
            <!--- OpenLibrary (LLC) Company Logo -->
            <img src="/assets/images/biomew/OL_co.png" alt="OpenLibrary Company"
                 class="h-[256px] hover:bg-sky-400">
            <!--- OpenLibrary + Vanguard -->
            <img src="/assets/images/biomew/OL_black_bg.png" alt="OpenLibrary Vanguard"
                 class="h-[256px]">
          </div>
        </div>

        <div class="flex [flex-direction:column] -mb-6">
        <!--- Bayanihan College + OpenLibrary -->
          <h1 class="text-white bg-violet-800 py-2 -mb-0 rounded-tl-2xl text-md hover:bg-violet-600 flex justify-center
                      animate-btn">
            <!--- 'Bayanihan' Upper title -->
            <span>Bayanihan College</span>
          </h1>

          <div class="justify-center items-center flex-[1_0_content] flex [flex-direction:column] -mb-7">
          <!--- Bayanihan Flag -->
            <div class="bg-violet-900 pt-6 mt-0 pb-0 mb-[52px]
                        justify-center items-center flex-[1_0_content] flex [flex-direction:column]
                        group/violet">
            <!--- Body of the Flag -->

              <div class="bg-[blueviolet]/70 px-8 py-6 -mt-6 rounded-tl-2xl rounded-tr-2xl
                          group group-hover/violet:bg-[blueviolet]">
                <div class="bg-red-700 rounded-full border-red-800 border-4 border-solid hover:border-red-500">
                  <div class="rounded-full bg-sky-700 group-hover:bg-sky-400 animate-pulse">
                    <!--- Sun and Bayanihan Flag as anchor-link -->
                    <a href="/users_detail">
                      <img src="/assets/images/biomew/sun.svg" alt="Sun" class="w-[200px] h-[200px]
                      hover:animate-spin hover:[animation-duration:12s] duration-[916ms]">
                    </a>
                  </div>
                </div>
              </div>

            <!--- Bayanihan OpenLibrary -->
              <h2 class="bg-slate-700 text-sky-500 p-2 rounded-bl-2xl rounded-br-2xl -mt-0 -mb-12 hover:bg-slate-600">
                Bayanihan OpenLibrary
              </h2>

            </div>
          </div>

        </div>

      <!--- 3-Gold-Stripe Bands -->
        <div class="bg-yellow-600 w-[56px]"></div>
        <div class="bg-yellow-700 w-[56px]"></div>
        <div class="bg-yellow-800 w-[50px]"></div>
      </div>
    </div>

    <div class="bg-rose-500 flex justify-center items-center">
      <!--- Serif (typographic) logo of Bayanihan Company + College -->
      <img src="/assets/images/biomew/BC_t.png" alt="Bayanihan Company (Stylistic)"
           class="w-[256px] p-3 hover:bg-sky-200 animate-btn">
      <!--- Centered Intro -->
      <h1 class="text-lime-600 mx-auto flex items-center justify-center hover:text-lime-400">Bayanihan College <span
          class="text-[1.3rem] p-3">+</span> Vanguard</h1>
      <!--- Bayanihan College + Vanguard -->
      <img src="/assets/images/biomew/BC_pink_bg.png" alt="Bayanihan College (Vanguard)"
           class="w-[256px] h-[256px] ml-auto mr-0 block bg-slate-200/50 hover:bg-sky-500 animate-pulse">
    </div>

  </div>
</main>