<nav>
  <ul class="flex mr-10 my-3 overflow-x-hidden font-semibold marker:text-sky-400 list-none">
    <li class="tw-p-4">
      <!--- Home -->
      <a class="cursor-default text-blue-200 tw-py-4 tw-px-4 rounded
                hover:text-sky-400 hover:bg-sky-700/50 hover:no-underline" href="/">HOME</a>
    </li>
    <li class="tw-p-4">
      <!--- Books -->
      <a class="text-white tw-py-3 tw-px-4 hover:text-sky-200/80 border-b-3
                hover:rounded-none hover:[border-bottom-style:inset] hover:border-b-sky-400/90 hover:no-underline"
         href="/books/">BOOKS</a>
    </li>
    <li class="tw-p-4">
      <!--- File Storage -->
      <a class="cursor-default text-blue-200 tw-py-4 tw-px-4
                hover:text-white hover:bg-slate-500/50 hover:no-underline" href="/storage/">FILES</a>
    </li>
    <li class="tw-p-4">
      <!--- Admin -->
      <a class="cursor-default text-blue-200 tw-py-4 tw-px-4 rounded-2xl
                hover:text-red-400 hover:bg-red-900/50 hover:no-underline" href="/admin/">ADMIN</a>
    </li>
  </ul>
</nav>