<nav id="main-nav" class="hide bg-[rgb(111,0,70)] py-2 pb-[4.4rem]">
  <ul class="flex mr-10 my-3 overflow-x-hidden font-semibold marker:text-sky-400 list-none">
    <li class="p-4">
      <!--- Home -->
      <a id="home" class="cursor-default text-blue-200 py-4 px-4 rounded animate-btn
                hover:text-orange-400 hover:bg-sky-400/20 hover:no-underline" href="/">
        Home</a>
    </li>
    <li class="p-4">
      <!--- Shop -->
      <a id="shop" class="text-white py-3 px-4 hover:text-sky-200/80 border-b-3 animate-bb
         hover:rounded-none hover:border-b-sky-400/90 hover:no-underline"
         href="/shop">
        Shop</a>
    </li>
    <li class="p-4">
      <!--- Clinic -->
      <a id="files" class="cursor-default text-blue-200 py-4 px-4 animate-btn
        hover:text-white hover:bg-orange-500/30 hover:no-underline"
         href="/clinic">
        Clinic</a>
    </li>
    <li class="p-4">
      <!--- About -->
      <a id="readme" class="cursor-default text-blue-200 py-4 px-4 rounded-2xl
         hover:text-red-400 hover:bg-red-900/50 hover:no-underline animate-btn"
         href="/README">
        About</a>
    </li>
    <li class="flex items-center justify-center">
      <div id="ham-menu" onclick="menu()" onmouseenter=""
          class="group flex h-15 w-15 cursor-pointer items-center justify-center rounded-3xl bg-gray-400/20 p-2
                  hover:bg-gray-500/30">
        <div class="space-y-2">
          <span id="upper-line"
              class="block h-1 w-10 origin-center rounded-full bg-slate-500 transition-transform ease-in-out
              "></span>
          <span id="lower-line"
              class="block h-1 w-8 origin-center rounded-full bg-orange-500 transition-transform ease-in-out
              "></span>
        </div>
      </div>
    </li>
  </ul>

  <div id="menu-container">
    <nav class="nav" id="nav">
      <ul class="animate-pulse ease-in-out">
        <li><a href="/"
          >Home</a>
        </li>
        <li>
          <a href="/shop"
            >Shop</a>
        </li>
        <li>
          <a href="/clinic"
          >Clinic</a>
        </li>
        <li>
          <a href="#">Blogs</a>
          <ul>
            {% for post in site.posts %}
            <li>
              <a href="{{ post.url }}"
                >{{ post.title }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
        <li>
          <a href="https://mczvc-biomew.github.io/books"
            >Bayanihan Publishing</a>
          <ul>
            {% for book in site.books %}
            <a href="{{ book.url }}">
              <li class="anim-hover-bb">
                {{ book.title }}
              </li>
            </a>
            {% endfor %}
          </ul>
        </li>
        <li>
          <a href="https://mczvc-biomew.github.io/storage"
            >Bayanihan OpenLibrary</a>
          <ul>
            {% for file in site.files %}
            <li>
              <a href="{{ file.url }}">{{ file.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
        <li>
          <a href="/README"
          >About</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="menu-bg" id="menu-bg"></div>

</nav>