<div class="[font-size:2.1rem] bg-yellow-600 py-5 flex h-[97px] min-w-[300px] page-header">
  <img src="/assets/images/jk/jk-m.png"
       class="h-[170px] [position:relative] -top-[16px] hover:bg-white/20"
       alt="JK-M">
  <span class="ml-4 mt-[15px]">JK’s Shop</span>
</div>

<div class="bg-red-500 w-full m-0 tablet-desktop">
  <div class="w-full max-w-[600px] min-h-[600px] -mr-[5px] -mb-[5px] hover:!bg-gray-900 md:inline-block" style="background:
                url('/assets/images/jk/jk-creative.png') black no-repeat; background-size: 100%">
  </div>
  <div class="w-full max-w-[600px] min-h-[600px] -mb-[5px] hover:!bg-gray-200 md:inline-block" style="background:
                url('/assets/images/jk/jk-brand-c-gold.png') white no-repeat; background-size: 100%">
  </div>
</div>