@import url("https://fonts.googleapis.com/css?family=Crimson+Text&display=swap");

:root {
    --navbar-height: 102px;
}

.main-nav--hide {
    height: 0 !important;
    overflow: hidden;
    padding: 0 !important;
    max-height: 0 !important;
    visibility: hidden;
}

.main-nav--hide .menu-nav {
    max-height: 0;
}

.menu-nav-ul {
    --un-text-shadow: 0 3px 2px var(--un-text-shadow-color, rgb(30 29 39 / 0.19)),
    1px 2px 4px var(--un-text-shadow-color, rgb(54 64 147 / 0.18));
    text-shadow: var(--un-text-shadow);
}

nav .bg-animation {
    position: relative;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}

nav .start-home, ul:has(#home:hover) .bg-animation {
    width: 82px;
    left: 16px;
    background-color: #00886d;
    border-radius: 0;
}

nav .start-shop, ul:has(#shop:hover) .bg-animation {
    width: 81px;
    left: 126px;
    background-color: #e74c3c;
}

nav .start-clinic, ul:has(#clinic:hover) .bg-animation {
    width: 79px;
    left: 235px;
    background-color: #027d21;
    border-radius: 0;
}

nav .start-portfolio, ul:has(#portfolio:hover) .bg-animation {
    width: 125px;
    left: 345px;
    background-color: #02527d;
    border-radius: 0;
}

nav .start-blog, ul:has(#blog:hover) .bg-animation {
    width: 89px;
    left: 505px;
    background-color: #3d027d;
    border-radius: 0;
}

nav .start-openlibrary, ul:has(#openlibrary:hover) .bg-animation {
    width: 252px;
    left: 627px;
    background-color: #3d027d;
    border-radius: 0;
}

nav .start-about, ul:has(#about:hover) .bg-animation {
    width: 82px;
    left: 915px;
    background-color: #b75703;
    border-radius: 1rem;
}

nav .start-contact, ul:has(#contact:hover) .bg-animation {
    width: 99px;
    left: 1027px;
    background-color: #b67c59;
}

nav ul li a {
    z-index: 2;
    position: relative;
}

.alert-debug {
    color: black;
    background-color: white;
    border-color: #d6e9c6;
}

.alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
    position: relative;
}

.content_author::before {
    content: attr(data-author);
}

.will-change_filter {
    will-change: filter;
}

.transition_filter-300 {
    transition: filter 300ms;
}

.hover_filter_drop-shadow_blur:hover {
    filter: drop-shadow(0 0 2em rgba(255, 255, 255, 0.99)) blur(13px);
}

.bg-sz-100 {
    background-size: 100%;
}

.bg-sz-64 {
    background-size: 64px;
}

.bg-sz-128 {
    background-size: 128px;
}

.page-title {
    filter: drop-shadow(0 1px 1px rgb(0, 0, 0));
}

.page-header {
    filter: drop-shadow(0 -1.1px 0.2em rgb(0, 0, 0));
}

.page-header.bayanihan::after {
    width: 0;
    height: 5px;
    background-color: burlywood;
    display: block;
    content: '';
    position: absolute;
    top: 51px;
    opacity: 0;
}

.page-header.bayanihan:hover::after {
    transition: width 0.5s ease-in-out, opacity 0.4s ease-in-out;
    width: 200px;
    opacity: 1;
}

.founding-box {
    filter: drop-shadow(-6.1px 0.1px 0.2em rgb(0, 0, 0));
    min-width: 690px;
}

@keyframes rotation {
    50% {
        transform: rotateY(2turn);
    }
    100% {
        transform: rotateY(0deg);
    }
}

.border-b-inset {
    border-bottom-style: inset;
}

.list-item {
    position: relative;
    display: inline-block;
}

#book-description, #author-bio {
    border-inline-start: 5px solid #0171ff;
}

.btn-back {
    position: relative;
    width: 41px;
    height: 60px;
    left: 0;
    top: 20px;
    transition-duration: 0.5s;
}

.btn-back .icon {
    transition-duration: 0.5s;
    position: relative;
    height: 4px;
    width: 30px;
    top: 30px;
    background-color: #f97316;
}

.btn-back .icon:before {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: #f97316;
    content: "";
    top: -10px;
}

.btn-back .icon:after {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: #f97316;
    content: "";
    top: 10px;
}

.btn-back.open .icon {
    transition: 0.5s;
}

.btn-back.open .icon:before {
    transform: rotateZ(-45deg) scaleX(0.75) translate(-10px, -3px);
}

.btn-back.open .icon:after {
    transform: rotateZ(45deg) scaleX(0.75) translate(-10px, 3px);
}

.btn-back:hover {
    cursor: pointer;
}

.pie {
    -webkit-tap-highlight-color: transparent;
    background: #000;
    border-radius: 50%;
    box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    height: 400px;
    left: -200px;
    position: absolute;
    top: -200px;
    width: 400px;
    transform: translateX(-200px) translateY(-200px);
    transition: transform 300ms;
    z-index: 3;
}

.pie-color:hover {
    opacity: 0.85;
}

.pie-color:active {
    opacity: 0.7;
}

.pie1 {
    clip-path: polygon(200px 200px, 344px 450px, 0 450px);
    transition-delay: 30ms;
}

.pie2 {
    clip-path: polygon(200px 200px, 344px 450px, 450px 344px);
    transition-delay: 60ms;
}

.pie3 {
    clip-path: polygon(200px 200px, 450px 0, 450px 344px);
    transition-delay: 90ms;
}

.pie-color {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.pie-color1 {
    background: linear-gradient(135deg, #f12711, #f5af19);
    clip-path: polygon(200px 200px, 344px 450px, 0 450px);
}

.pie-color2 {
    background: linear-gradient(135deg, #444, #7e84f9);
    clip-path: polygon(200px 200px, 344px 450px, 450px 344px);
}

.pie-color3 {
    background: linear-gradient(135deg, #444, #b7e13f);
    clip-path: polygon(200px 200px, 450px 0, 450px 344px);
}

.card {
    left: 216px;
    position: absolute;
    top: 300px;
    width: 46px;
}

.discount {
    left: 288px;
    position: absolute;
    top: 258px;
    width: 46px;
}

.cart {
    left: 324px;
    position: absolute;
    top: 188px;
    width: 46px;
}

.logo-menu {
    -webkit-tap-highlight-color: transparent;
    background: #28305a;
    border-radius: 50%;
    box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    left: -100px;
    position: absolute;
    top: -100px;
}

.hamburger {
    cursor: pointer;
    height: 46px;
    left: 0;
    position: relative;
    top: 9%;
    width: 46px;
}

#ham-menu:hover {
    transition: height .45s ease-in-out, background-color .25s ease-in-out;
    height: 52px;
}


.active .pie {
    transform: translateX(0) translateY(0);
}

.active .logo-menu {
    opacity: 1;
    height: 200px;
    width: 200px;
    z-index: 4;
}

#logo {
    transition: left 0.35s ease-in-out, top 0.15s ease-in-out;
    z-index: 5;
}

.active #logo {
    left: -18px;
    top: -10px;
}

/** Global Menu **/

.v-hidden {
    visibility: hidden;
}

#menu-container {
    z-index: 2;
}

.nav, .p-menu {
    transition: 0.3s ease;
    visibility: hidden;
    opacity: 0;
}

.nav > ul {
    padding: 10px 16px 80px;
}

.p-menu-list {
    padding: 0 16px 80px;
}

.nav > ul ul li {
    padding: 14px 0 0 28px;
    width: 20rem;
}

.p-menuitem-content {
    padding: 2px 0 0 28px;
    width: 20rem;
}

.nav li, .p-menu-list .p-submenu-header:not(.p-menu-bg) {
    list-style: none;
    padding: 12px 0;
}

.p-menuitem {
    padding: 0 0 12px;
}

#nav-more.nav ul li > a.nav-menu-link, .p-submenu-header:not(.p-menu-bg) {
    color: #dc8f00;
    font-size: 23px;
    text-decoration: none;
}

.nav ul > a > li {
    position: relative;
}

.nav ul > a > li:hover::after {
    background-color: #b98200;
    width: 277px;
    left: 19px;
    top: 36px;
    border-radius: 3px;
}

nav#nav-more ul li a.nav-sub-link, .p-menuitem-text {
    color: bisque;
}

.p-menuitem-text {
    font-size: 1.3rem;
}

nav#nav-more ul li a.nav-menu-link:hover {
    color: #e4fc49;
    font-weight: bold;
    border-bottom-style: double;
    border-bottom-width: 4px;
    border-bottom-color: #e4fc49;
}

.p-menu {
    top: 94px;
    left: 316px;
    position: absolute;
}

.p-menu-bg {
    top: 90px;
    left: 298px;
    position: absolute;
}

.p-menu {
    height: calc(100vh - 173px);
    overflow-y: scroll;
}

.p-menu-bg {
    z-index: 1;
    transform: scaleY(0);
    margin: -11px 0 20px 20px;
    background: radial-gradient(circle, #6a0110, rgba(91, 2, 17, 0.68));
    border-radius: 4px;
    transition: all .3s ease;
}

.p-menu-bg--show {
    width: 364px;
    transform: scaleY(1);
    height: calc(100vh - 188px);
    max-height: 264px;
}

.anim-hover-bb {
    position: relative;
}

.anim-hover-bb::before {
    content: "";
    width: 0;
    background: #0377bd;
    border-radius: 3px;
    height: 5px;
    bottom: -11px;
    left: 19px;
    position: absolute;
    transition: width 1s ease;
}

.anim-hover-bb:hover::before {
    width: 281px;
}

.animate-bb {
    position: relative;
}

.animate-bb::before {
    content: "";
    width: 0;
    background: #2fa9f3;
    border-radius: 3px;
    height: 5px;
    bottom: 6px;
    left: 2px;
    position: absolute;
    transition: width 0.8s ease;
}

.animate-bb:hover::before {
    width: 70px;
}

.animate-bb:hover::after {
    width: 75px;
}

.animate-bb::after {
    content: "";
    width: 0;
    background: #eecdcd;
    border-radius: 3px;
    height: 5px;
    bottom: 1px;
    right: -1px;
    position: absolute;
    transition: width 1s ease;
}

#coursework > span:hover {
    background-color: rgb(229, 231, 235);
    color: black;
}

#coursework span.asterisked.selected {
    background-color: mediumvioletred;
    color: aliceblue;
}

.signup-wrap .login-form .input-container {
    padding: 0;
    border-bottom: 0;
    max-width: 100%;
}

.signup-wrap .login-form .input-container input {
    border: 1px solid #ebebeb !important;
    border-radius: 3px;
    background: #f8f9fb;
    color: #42526e;
    padding: 0 10px;
    height: 40px;
}

.signup-wrap .login-form .input-container.error-msg {
    padding: 0;
}

.login-form .input-container input {
    height: 34px;
    border: none;
    font-size: 14px;
    padding: 0 10px;
}

.max-width-100-mob {
    margin: 14px 0 0;
}

.flex-ah {
    max-height: none !important;
    height: auto;
}

.error-msg {
    font-size: 12px;
    text-align: left;
    color: #dd2c00 !important;
    margin: 2px 0 -2px;
    line-height: 16px;
    overflow: hidden;
}

.input-container {
    margin: 14px auto 0;
    border: 1px solid #d6d6d6;
    background-color: #fff;
    border-radius: 3px;
}

.input-container::after {
    display: table;
}

.input-container {
    position: relative;
    padding: 2px;
    margin: 18px 0;
    overflow: hidden;
}

.input-container .md-input {
    display: block;
    margin-top: 0;
    line-height: 26px;
    border-radius: 0;
    border-style: solid;
    width: 100%;
    box-sizing: border-box;
    float: left;
}

.input-container.error-msg {
    border-bottom: 2px solid #fc4041 !important;
}

.input-container .md-input:focus-visible {
    outline: 0 !important;
}

.button-wrap {
    line-height: 47px;
    height: 47px;
    display: inline-block;
    min-width: 300px;
    width: 100%;
    margin: 12px auto 0;
    position: relative;
}

.form-btn-primary.md-button.md-primary {
    margin: 0 auto;
    min-width: 300px;
    line-height: 47px;
    height: 47px;
    width: 100%;
}

.bg-biw-kayee {
    content: '';
    background: url("/assets/images/kayee/BiW-8-12-14-26-17-27JK.png") white no-repeat;
    background-size: cover;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

main .content-wrapper {
    content: '';
    background: url("/assets/images/kayee/C.png") white no-repeat;
    background-size: cover;
    height: max-content;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
}

div.profile-screen {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    background: #31558a;
}

div.profile-navbar {
    height: 73px;
    background: #385e97;
}

.list {
    padding-top: 107px;
    text-align: left;
}

.item {
    height: 115px;
    margin-top: 0;
    padding-left: 115px;
    clear: both;
}

.item .img, .item span {
    background: #214273;
    border-radius: 3px;
}

.item .img {
    float: left;
    width: 71px;
    height: 71px;
    margin-left: -93px;
}

.item span {
    height: 11px;
    width: 96%;
    margin-bottom: 19px;
    float: left;
}

.item span:nth-of-type(3) {
    width: 40%;
    margin-bottom: 0;
}

.share-toggler {
    position: absolute;
    display: block;
    opacity: 0;
    z-index: 2;
    width: 40px;
    height: 40px;
}

.share-menu:has(.share-toggler:checked) ul .share-item {
    opacity: 1;
}

.share-item {
    opacity: 0;
}

.share-menu:has(.share-toggler:checked) ul .share-item:nth-child(1) {
  transform: rotate(0deg) translate(-110px);
}
.share-menu:has(.share-toggler:checked) ul .share-item:nth-child(2) {
  transform: rotate(60deg) translateX(-110px);
}
.share-menu:has(.share-toggler:checked) ul .share-item:nth-child(3) {
  transform: rotate(120deg) translateX(-110px);
}
.share-menu:has(.share-toggler:checked) ul .share-item:nth-child(4) {
  transform: rotate(180deg) translateX(-110px);
}
.share-menu:has(.share-toggler:checked) ul .share-item:nth-child(5) {
  transform: rotate(240deg) translateX(-110px);
}
.share-menu:has(.share-toggler:checked) ul .share-item:nth-child(6) {
  transform: rotate(300deg) translateX(-110px);
}
.share-menu:has(.share-toggler:checked) ul .share-item a {
  pointer-events:auto;
}
.share-toggler + label {
  width: 40px;
  height: 5px;
  display: block;
  z-index: 1;
  border-radius: 2.5px;
  background: rgba(230, 239, 250, 0.9);
  transition: transform 0.5s top 0.5s;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.share-toggler + label:before,
.share-toggler + label:after {
  width: 40px;
  height: 5px;
  display: block;
  z-index: 1;
  border-radius: 2.5px;
  background: rgba(255, 255, 255, 0.7);
  transition: transform 0.5s top 0.5s;
  content: "";
  position: absolute;
  display: block;
  left: 0;
}
.share-toggler + label:before {
  top: 10px;
}
.share-toggler + label:after {
  top: -10px;
}
.share-item:nth-child(1) a {
  transform: rotate(0deg);
}
.share-item:nth-child(2) a {
  transform: rotate(-60deg);
}
.share-item:nth-child(3) a {
  transform: rotate(-120deg);
}
.share-item:nth-child(4) a {
  transform: rotate(-180deg);
}
.share-item:nth-child(5) a {
  transform: rotate(-240deg);
}
.share-item:nth-child(6) a {
  transform: rotate(-300deg);
}
.share-item {
  position: absolute;
  display: block;
  top: 6px;
  margin: auto;
  width: 80px;
  height: 80px;
  opacity: 0;
  transition: 0.5s;
}
.share-item a {
  display: block;
  width: inherit;
  height: inherit;
  line-height: 80px;
  color: rgba(255, 255, 255, 0.7);
  background: rgba(230, 230, 250, 0.7);
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  pointer-events: none;
  transition: 0.2s;
}
.share-item a:hover {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
  color: white;
  background: rgba(255, 255, 255, 0.3);
  font-size: 44.44px
}

ul#about--left-menu {
    position: relative;
    z-index: 1;
    top: -229px;
    bottom: 0;
    height: 0;
    padding: 0;
    text-align: center;
}

.icon {
    color: #fff;
    font-size: 32px;
    display: block;
}

.icon a {
    font-size: 16px;
    width: 10ch;
    display: block;
}

@media (min-width: 715px) {
    .icon a {
        font-size: 24px;
    }
}

@media (min-width: 1072px) {
    .icon a {
        font-size: 32px;
    }
}

ul .icon:hover {
    opacity: 0.5;
}

.content-page {
    position: absolute;
    transition: transform 0.5s ease-in-out;
}
