<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Bayanihan Library">
  <meta name="author" content="Meldencio Czarlemagne" />

  <!--- Project-wide JS -->
  <script defer src="/assets/js/project.js"></script>
  <script defer src="/assets/js/scroll_animation.js"></script>

  <!--- Project-wide CSS -->
  <link href="/assets/css/project.css" rel="stylesheet" />
  <!---
    Latest compiled and minified CSS
    Add TailwindCSS generated stylesheet to base template
  -->
  <link href="/assets/css/tailwind.css" rel="stylesheet" />

  {% include fonts-and-icons.style.html %}

  <script>
      window.onload = function () {
          document.getElementById("main-nav").classList.add("show");
          mainmenu = document.querySelector(".hamburger");
          menu(mainmenu);
      };
  </script>
</head>

<body class="h-[100vh] grid [grid-template-rows:0fr_auto]">

  <div id="tbar" class="h-[177px]">
    {% include base.navigator.html %}
  </div>

  <section id="home">
    {% include home.html %}
  </section>
  <section id="book">
    {% include books.html %}
  </section>
  <section id="files">
    {% include storage.html %}
  </section>
  <section id="readme">
    {% include contact-us.html %}
  </section>

  {% include footer.html %}
</body>
</html>
