<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="JK San Juan">
  <meta name="author" content="JK San Juan, Meldencio Czarlemagne" />

  <meta property='og:title' content="JK San Juan" />
  <meta property='og:image' content="{{ page.image }}" />
  <meta property='og:image:type' content="image/png" />
  <meta property='og:image:width' content="{{ page.image-width }}"/>
  <meta property='og:image:height' content="{{ page.image-height }}"/>
  <meta property='og:description' content="[JK San Juan] | <Shop> | (Clinic) | *Blog*" />
  <meta property='og:url' content="https://jk-sanjuan.github.io"/>
  <meta property='og:type' content="website"/>
  <meta property='fb:app_id' content="7536621456397792" />

  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">

  <!--- Project-wide JS -->
  <script defer src="/assets/js/project.js"></script>

  <!--- Project-wide CSS -->
  <link href="/assets/css/project.css" rel="stylesheet" />
  <!---
    Latest compiled and minified CSS
    Add TailwindCSS generated stylesheet to base template
  -->
  <link href="/assets/css/tailwind.css" rel="stylesheet" />
  <!--- Fonts and Icons -->
  {% include fonts-and-icons.style.html %}
  <script>
    window.onload = function () {
      document.getElementById("main-nav").classList.add("show");
      mainmenu = document.querySelector(".hamburger");
      breadcrumbs(mainmenu);
    };
  </script>
</head>
<body class="h-[100vh] grid [grid-template-rows:0fr_auto]">

  <div id="tbar">
    {% include base.navigator.html %}
  </div>

  <div class="-mb-[17px]">
    {{ content }}
  </div>
    <!--- comment
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    -->
  {% include footer.html %}
</body>
</html>